@use "../../components/Layout/Layout.module.scss";

$section-padding: 16px;

.section {
    display: flex;
    flex-direction: column;
    &[data-direction=row] {
        flex-direction: row;
        align-items: stretch;
        gap: 32px;
        div {
            flex: 1;
        }
    }
    align-items: start;
    justify-content: space-between;

    counter-increment: section;

    height: calc(100vh - Layout.$navbar-height);
    box-sizing: border-box;
    padding: $section-padding 0;

    &:first-child {
        counter-reset: section;
        h1:first-child::before {
            display: none;
        }
    }

    h1:first-child {
        margin-top: 0;
        margin-bottom: 8px;
        &::before {
            display: block;
            font-size: 32px;
            color: var(--on-backgorund-sub);
            content: "0" counter(section);
            user-select: all;
        }
    }
    border-bottom: 1px dashed grey;
}

.subSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}