:root {
    --background: #fcfcff;
    --on-background: #27282a;
    --on-backgorund-sub: #54575D;

    --primary: #6ae8f6;
    --primary-hover: #f9b69c;
    --on-primary: #27282a;
    
    --surface: #ebecf4;
}